extends baseEmail

block content 
    h2= title
    p Hello,A guardian would like to register their child
    h3 Registration Details
    p Parent Name : #{parentName}
    p Parent Email : #{parentEmail}
    p Child name : #{childName}
    p Child Age : #{childAge}
    p message : #{message}